<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DreamHazard - FCC datestamp microservice</title>
</head>
<body>
  <h1>
    DreamHazard's FCC datestamp microservice
  </h1>
  <p>
    To use this microservice, enter a date in either Unix format or a natural format at the end of the url<br/>
    For example, try this link: <a href="https://dreamhazard-fcc-timestamp.glitch.me/12.01.2018">https://dreamhazard-fcc-timestamp.glitch.me/12.01.2018</a>
  </p>
 
</body>
</html>